<<<<<<< HEAD
<h1><%= message %> </h1>
<h2><%= error.status %> </h2>
<pre><%= error.stack %> </pre>
=======
<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>
>>>>>>> 9f65c13a139b96ae1d0479880b0271efed8b9b21
